# anew
.git-credentials

# environment files
.env

# nodejs node_modules
node/**/node_modules
node/**/package*.json
node/config/pool.js
node/config/db_config.json
node/**/uploadedFiles
node_modules
.idea

# mongodb backup  / json
mongodb/**/*.json
mongodb/backup

# python
python/**/.venv

# react App
react/**/node_modules
